body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100vw;
}

header .central-text-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;
    width: 270px;
    
}

header .svg-Wikipedia_wordmark {
    color: transparent;
    width: 176px;
    height: 32px;
    vertical-align: middle;
    margin: 0 auto;
    
}

header strong {
    font-family: Georgia,Times,serif;
    font-size: 1.5rem;
    text-size-adjust: 100%;
    text-align: center;
    line-height: 33px;
    font-feature-settings: "ss05";
    font-weight: 700;
}


main .central-globe-logo-wrapper img {
    width: 200px;
    height: 183px;
    position: absolute;
    top:33%;
    left:50%;
    transform: translate(-50%, -50%);
    

}

main .central-featured {
    position: relative;
    height: 325px;
    width: 546px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    font-family: Helvetica,Arial,sans-serif;
    
}

main .central-featured ul {
    list-style: none;
}


main .central-featured .lang1 {
    position: absolute;
    top: 0;
    right:60%;
    width: 15.6rem;
}
main .central-featured .lang2 {
    position: absolute;
    top: 0;
    left:56%;
    width: 15.6rem;
}

main .central-featured .lang3 {
    position: absolute;
    top: 20%;
    right:70%;
    width: 15.6rem;
}

main .central-featured .lang4 {
    position: absolute;
    top: 20%;
    left:66%;
    width: 15.6rem;
}

main .central-featured .lang5 {
    position: absolute;
    top: 40%;
    right:72%;
    width: 15.6rem;
}

main .central-featured .lang6 {
    position: absolute;
    top: 40%;
    left:68%;
    width: 15.6rem;
}

main .central-featured .lang7 {
    position: absolute;
    top: 60%;
    right:70%;
    width: 15.6rem;
}

main .central-featured .lang8 {
    position: absolute;
    top: 60%;
    left:66%;
    width: 15.6rem;
}

main .central-featured .lang9 {
    position: absolute;
    top: 80%;
    right:60%;
    width: 15.6rem;
}

main .central-featured .lang10 {
    position: absolute;
    top: 80%;
    left:56%;
    width: 15.6rem;
}

main .central-featured a, a:active, a:focus {
    outline: 0;
    color: #36c;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;

}

main .central-featured p {
    font-size: 1.4rem;
    color:rgb(84, 89, 93);
}

main .search-container {
    font-family: Helvetica,Arial,sans-serif;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding-top: 3rem;
    
}

main .main-search-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 4.4rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #a2a9b1;
    border-width: 1px 1px 1px 1px;
    width: 460px;
    border-radius: 0 3px 3px 0;
}

main .main-search-container:hover {
    border-color: #72777d;
}

main .search-container .input-text {
    width: 324px;
    border: none;
    outline: none;
    padding-left: 1rem;
}

main .main-search-container:focus-within {
    border-color: #447ff5;
    border-width: 2px 2px 2px 2px;
    outline: 0;
}


main .hide-arrow {

    overflow: hidden;
    text-align: right;
}



main .js-langpicker-label {
    display: inline-block;
    font-size: 1.3rem;
    color: #54595d;
    text-transform: uppercase;
    padding-top:1.5rem;
}

main .hide-arrow {
    padding: 0 2.4rem 0 .8rem;
}

main .hide-arrow select {
    background: transparent;
    text-transform: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    border: 0;
    display: inline;
    position: absolute;
    color: hsla(0,0%,100%,0);
    padding-top: 1.5rem;
    width: 30px;
}

main .main-search-container .search-button {
    background-color: #36c;
    border: 1px solid #36c;
    width: 60px;
    height: 4.4rem;
    cursor: pointer;
    border-radius: 0 0 0 0;
    padding: .8rem 1.6rem;
    min-height: 4.4rem;
    margin: 0;
    z-index: 2;
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    text-align: center;
    user-select: none;
    text-decoration: none;
    text-transform: none;
    overflow: visible;
    background-image: linear-gradient(transparent,transparent),url(https://lh3.googleusercontent.com/fife/ABSRlIoOzk5Dgyj67Jmb_cTAO3RbIG51WWFNLGbPzJDrW6VeCLJbhyDHVV4Dz0zSsH--iShBjZzJbIi3JJr1KP8JYL7sdvh9pcx6e4IIliFEk4mg4W5cvnVMbxXv3BwEPZLBp81s0BpnLCrvxfQohdQhKHGcZ3oc7408hjKAGOR-jHajcxZanW1Qwonk-D8G3p-2sSPG6X6ge7wPt02DuDHsBxE2zrG_lfITXrUG-9KQ5V8O_oyWlMe-2eG5yPx7RcyTo0ayZb__XkP9A1Sj__ZKdzIAahNOgRMp8AfJzN2mTlg8nKXdCtqwKrFosbyc7L_jJtnxe4fEYCahNT7Ir_GSIigtL5vzENi1xEmVEp3yuy4rDMylLMndhwFRuaYq7X2XYz5Y8vnhH1eupCZyblsCWzRPFg4IvbET0y9bNMIIWZkd0gJoSiViHesu4bLmRJhaTJ_1TFqBOx_x5NSmVLBDiXnkpkccv_99b-xtdJ8nO4IzIT1kF9JjWRbDt9NIPVb1HeqW2c31gilvH7PUZ2DD4f9HcrSHTWiBoHb-IJkDNdfo_h8pMtoqduAax-Tt3TCoheksKmhIGgqZb2OgZhaR8-Hz7525RBqs6H44unhzHfiWjiyopqRke7Hd5MsucyMjsecN3291uoyogTQiIbfwBRrTUiWuSfY4O7R_pZlmxxwY9z0qFCv0ZIvxFHlTU7n1r-uAxqMHqXP1NASW0lf64_T8MR7kQ6jpag=w1920-h889-ft);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}

main .main-search-container .search-button:hover {
    background: #447ff5;
    border: 1px solid #447ff5;
    background-image: linear-gradient(transparent,transparent),url(https://lh3.googleusercontent.com/fife/ABSRlIoOzk5Dgyj67Jmb_cTAO3RbIG51WWFNLGbPzJDrW6VeCLJbhyDHVV4Dz0zSsH--iShBjZzJbIi3JJr1KP8JYL7sdvh9pcx6e4IIliFEk4mg4W5cvnVMbxXv3BwEPZLBp81s0BpnLCrvxfQohdQhKHGcZ3oc7408hjKAGOR-jHajcxZanW1Qwonk-D8G3p-2sSPG6X6ge7wPt02DuDHsBxE2zrG_lfITXrUG-9KQ5V8O_oyWlMe-2eG5yPx7RcyTo0ayZb__XkP9A1Sj__ZKdzIAahNOgRMp8AfJzN2mTlg8nKXdCtqwKrFosbyc7L_jJtnxe4fEYCahNT7Ir_GSIigtL5vzENi1xEmVEp3yuy4rDMylLMndhwFRuaYq7X2XYz5Y8vnhH1eupCZyblsCWzRPFg4IvbET0y9bNMIIWZkd0gJoSiViHesu4bLmRJhaTJ_1TFqBOx_x5NSmVLBDiXnkpkccv_99b-xtdJ8nO4IzIT1kF9JjWRbDt9NIPVb1HeqW2c31gilvH7PUZ2DD4f9HcrSHTWiBoHb-IJkDNdfo_h8pMtoqduAax-Tt3TCoheksKmhIGgqZb2OgZhaR8-Hz7525RBqs6H44unhzHfiWjiyopqRke7Hd5MsucyMjsecN3291uoyogTQiIbfwBRrTUiWuSfY4O7R_pZlmxxwY9z0qFCv0ZIvxFHlTU7n1r-uAxqMHqXP1NASW0lf64_T8MR7kQ6jpag=w1920-h889-ft);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}


main .main-search-container .search-button:focus{
    border-color: #447ff5;
   
}